<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Argentina Programa</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active ms-3"
                aria-current="page"
                href="https://www.linkedin.com/in/gast%C3%B3ncorrea/"
                ><i class="fab fa-linkedin fa-2x"></i
              ></a>
            </li>
            <li class="nav-item">
              <button class="btn">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!token">Login</a>
              </button>
            </li>
            <li class="nav-item" >
              <button class="btn">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active" *ngIf="token">Logout</a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
