<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand"> <img src="https://i.pinimg.com/originals/8c/0f/11/8c0f110934191111ed572e974cbba203.jpg" class="img-brand me-3">#YoProgramo</a>
        <button
          class="navbar-toggler mt-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active ms-3"
                aria-current="page"
                href="https://www.linkedin.com/in/gast%C3%B3ncorrea/"
                ><i class="fab fa-linkedin fa-2x"></i
              ></a>
            </li>
            <li class="nav-item" *ngIf="this.authService.Usuario">
              <button class="btn">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" >Login</a>
              </button>
            </li>
            <li class="nav-item" *ngIf="!this.authService.Usuario">
              <button class="btn">
                <a class="nav-link" routerLink="/inicio" (click)="cerrarSesion()" routerLinkActive="active">Logout</a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
