<form class="m-5" [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <!-- formulario email (label + input vinculados) -->
    <div class="mb-3">
      <label for="emailUsuario" class="form-label">Email:</label>
      <input type="email" class="form-control" id="emailUsuario" formControlName="email">
    </div>
    <!-- validaciones para input email -->
    <div *ngIf="Mail?.errors && Mail?.touched">
      <p *ngIf="Mail?.hasError('required')" class="error">Es un campo obligatorio</p>
      <p *ngIf="Mail?.hasError('email')" class="error">Es un campo para una direccion de email</p>
    </div>
    <!-- formulario password -->
    <div class="mb-3">
      <label for="passwordUsuario" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordUsuario" aria-describedby="emailHelp"
      formControlName="password">
      <div id="passwordHelp" class="form-text">Su contraseña debe tener mas de 8 caracteres</div>
    </div>
    <!-- Validaciones formulario password -->
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="error">El campo es obligatorio</p>
      <p *ngIf="Password?.errors?.minlength" class="error">Debe contener mas de 8 caracteres</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
