<section class="border rounded my-3 p-2">
  <div class="d-flex justify-content-between">
    <h2>Proyectos</h2>
    <!-- Button trigger modal -->
    <button
      class="btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#agregarProyecto"
      *ngIf="!this.authService.Usuario"
    >
      <i class="fas fa-plus"></i>
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="agregarProyecto"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Nuevo Proyecto</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="enviar($event)">
              <!-- form nombre-->
              <div class="mb-3">
                <label for="nombreProyecto" class="form-label"
                  >Nombre del Proyecto:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreProyecto"
                  formControlName="nombre"
                />
              </div>
              <!-- validacion form nombre -->
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Nombre?.errors?.maxlength" class="error">
                  El campo debe contener menos de 30 caracteres
                </p>
              </div>
              <!-- form descripcion -->
              <div class="mb-3">
                <label for="descripcionProyecto" class="form-label"
                  >Descripcion de su Proyecto:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="descripcionProyecto"
                  formControlName="descripcion"
                />
              </div>
              <!-- validacion form descripcion -->
              <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                <p *ngIf="Descripcion?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Descripcion?.errors?.maxlength" class="error">
                  El campo debe contener menos de 200 caracteres
                </p>
              </div>
              <!-- form url -->
              <div class="mb-3">
                <label for="urlProyecto" class="form-label"
                  >Ingrese la url de su Proyecto:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="urlProyecto"
                  formControlName="url"
                />
              </div>
              <!-- validacion form url -->
              <div *ngIf="Url?.errors && Url?.touched">
                <p *ngIf="Url?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Url?.errors?.maxlength" class="error">
                  El campo debe contener menos de 50 caracteres
                </p>
              </div>
              <!-- input para guardar el id persona en base de datos -->
              <div formGroupName="persona" *ngIf="persona">
                <input type="hidden" formControlName="idpersona" id="idPersona" [(ngModel)]="persona.idPersona">
              </div>
              <!-- boton cerrar -->
              <button
                type="button"
                class="btn btn-secondary me-3"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Guardar Proyecto
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="d-flex justify-content-between my-4"
      *ngFor="let cabe of proyectos"
    >
      <div>
        <h3>
          <a [href]="cabe.url" class="nav-link">{{ cabe.nombre }}</a>
        </h3>
        <p>
          {{ cabe.descripcion }}
        </p>
      </div>
      <div class="d-flex align-self-start">
        <button class="btn pe-0"
        (click)="eliminar(cabe.idproyecto)"
        *ngIf="!this.authService.Usuario">
          <i class="fas fa-trash-alt me-1"></i>
        </button>
        <!-- boton abre la ventana modal para editar -->
        <button
          class="btn"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modificarProyecto"
          (click)="cargarModal(cabe)"
          *ngIf="!this.authService.Usuario"
        >
          <i class="fas fa-pen"></i>
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="modificarProyecto"
          tabindex="-1"
          aria-labelledby="proyecto"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="proyecto">Editar proyecto:</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formEditar" (ngSubmit)="editarProyecto($event)">
                  <!-- form nombre-->
                  <div class="mb-3">
                    <label for="nombreProyectoEditar" class="form-label"
                      >Nombre del Proyecto:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="nombreProyectoEditar"
                      formControlName="nombreEditar"
                    />
                  </div>
                  <!-- validacion form nombre -->
                  <div *ngIf="NombreEditar?.errors && NombreEditar?.touched">
                    <p *ngIf="NombreEditar?.hasError('required')" class="error">
                      El campo es obligatorio
                    </p>
                    <p *ngIf="NombreEditar?.errors?.maxlength" class="error">
                      El campo debe contener menos de 30 caracteres
                    </p>
                  </div>
                  <!-- form descripcion -->
                  <div class="mb-3">
                    <label for="descripcionProyectoEditar" class="form-label"
                      >Descripcion de su Proyecto:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="descripcionProyectoEditar"
                      formControlName="descripcionEditar"

                    />
                  </div>
                  <!-- validacion form descripcion -->
                  <div
                    *ngIf="
                      DescripcionEditar?.errors && DescripcionEditar?.touched
                    "
                  >
                    <p
                      *ngIf="DescripcionEditar?.hasError('required')"
                      class="error"
                    >
                      El campo es obligatorio
                    </p>
                    <p
                      *ngIf="DescripcionEditar?.errors?.maxlength"
                      class="error"
                    >
                      El campo debe contener menos de 200 caracteres
                    </p>
                  </div>
                  <!-- form url -->
                  <div class="mb-3">
                    <label for="urlProyectoEditar" class="form-label"
                      >Ingrese la url de su Proyecto:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="urlProyectoEditar"
                      formControlName="urlEditar"
                    />
                  </div>
                  <!-- validacion form url -->
                  <div *ngIf="UrlEditar?.errors && UrlEditar?.touched">
                    <p *ngIf="UrlEditar?.hasError('required')" class="error">
                      El campo es obligatorio
                    </p>
                    <p *ngIf="UrlEditar?.errors?.maxlength" class="error">
                      El campo debe contener menos de 50 caracteres
                    </p>
                  </div>
                  <!-- boton cerrar -->
                  <button
                    type="button"
                    class="btn btn-secondary me-3"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                   Modificar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
