/* You can add global styles to this file, and also import other style files */
.insertar-arriba {
    position: relative;
    top: -50px;
  }
  @media all and (max-width: 576px) {
    .mantener-imagen {
      height: 70px;
    }
  }
  