<section class="border rounded my-3 p-2">
  <h2>Acerca de</h2>
  <div class="d-flex justify-content-between">
    <div>
      <p>
        {{descripcion_mi}}
      </p>
    </div>
    <!-- boton que abre la ventana modal -->
    <div class="align-self-center justify-content-center">
      <button
        class="btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modificarSobreMi"
      >
        <i class="fas fa-pen ps-5"></i>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="modificarSobreMi"
        tabindex="-1"
        aria-labelledby="SobreMi"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sobreMi">Modifica lo que quieras contar sobre tí</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="input-group" *ngIf="descripcion_mi">
                <span class="input-group-text">Sobre mí:</span>
                <textarea class="form-control" aria-label="With textarea" [(ngModel)]="descripcion_mi"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" (click)="enviar(descripcion_mi)" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
