<section class="border rounded pb-3" >
  <img
    src="assets/img/2pers.png"
    alt="imagen_de_ideas"
    class="w-100 img-fluid"
  />
    <div class="w-25 insertar-arriba" *ngIf="cabecera">
      <img
        [src]="cabecera.imagen_perfil"
        [alt]="cabecera.imagen_perfil"
        class="w-100 rounded-circle img-fluid"
      />
    </div>
  <div class="row container">
    <div *ngIf="cabecera" class="col-sm-9 col-lg-8" >
      <h2>{{ cabecera.nombrePersona }} {{ " " + cabecera.apellidoPersona }}</h2>
      <p>{{ cabecera.experiencia[0].puesto }}</p>
      <p>{{cabecera.usuario.email}}</p>
      <p>
        {{
          cabecera.residencia.localidad +
            " - " +
            cabecera.residencia.provincia +
            " - " +
            "(" +
            cabecera.residencia.pais +
            ")"
        }}
        <a href="https://www.linkedin.com/in/gast%C3%B3ncorrea/">más información de contacto</a>
      </p>
    </div>
    <div class="col-sm-2 col-lg-2" *ngIf="cabecera">
      <!-- abrir ventana modal para modificar datos de la persona -->
      <button
        
        class="btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modificarPersona"
        *ngIf="!this.authService.Usuario"
        (click)="cargarModal(cabecera)"
      >
        <i class="fas fa-pen"></i>
      </button>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modificarPersona"
      tabindex="-1"
      aria-labelledby="persona"
      aria-hidden="true"
      *ngIf="cabecera"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="persona">Modificar datos personales:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" >
            <form
              [formGroup]="formEditar"
              (ngSubmit)="enviar()"
            >
            <!-- input que contiene id persona para poder modificarla -->
              <input type="hidden" formControlName="idPersonaEditar" >
            <!-- input que contiene descripcion para completar el objeto para poder modificarla -->
              <input type="hidden" formControlName="descripcionEditar" >
              <div class="mb-3">
                <!-- form nombre -->
                <label class="form-label" for="nombrePersona">Nombres:</label>
                <input
                  type="text"
                  id="nombrePersona"
                  class="form-control"
                  formControlName="nombreEditar"
                  
                />
              </div>
              <!-- Validacion form Nombre -->
              <div *ngIf="NombreEditar?.errors && NombreEditar?.touched">
                <p *ngIf="NombreEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="NombreEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas 50 caracteres
                </p>
              </div>
              <div class="mb-3">
                <!-- form Apellido -->
                <label class="form-label" for="apellidoPersona"
                  >Apellido:</label
                >
                <input
                  type="text"
                  id="apellidoPersona"
                  class="form-control"
                  formControlName="apellidoEditar"
                  
                />
              </div>
              <!-- Validacion form apellido -->
              <div *ngIf="ApellidoEditar?.errors && ApellidoEditar?.touched">
                <p *ngIf="ApellidoEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="ApellidoEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 50 caracteres
                </p>
              </div>
              <!-- form imagen de perfil -->
              <div class="mb-3">
                <label class="form-label" for="perfilPersona"
                  >Imagen de perfil:</label
                >
                <input
                  type="text"
                  id="perfilPersona"
                  class="form-control"
                  formControlName="imagen_perfilEditar"
                  
                />
              </div>
              <!-- validacion form imagen de perfil -->
              <div *ngIf="PerfilEditar?.errors && PerfilEditar?.touched">
                <p *ngIf="PerfilEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="PerfilEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form url Linkedin -->
              <div class="mb-3">
                <label class="form-label" for="linkedinPersona"
                  >Url de perfil Linkedin:</label
                >
                <input
                  type="text"
                  id="linkedinPersona"
                  class="form-control"
                  formControlName="url_linkedinEditar"
                  
                />
              </div>
              <!-- validacion form url de linkedin -->
              <div *ngIf="UrlEditar?.errors && UrlEditar?.touched">
                <p *ngIf="UrlEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="UrlEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form celular -->
              <div class="mb-3">
                <label class="form-label" for="celularPersona"
                  >Numero de celular:</label
                >
                <input
                  type="number"
                  id="celularPersona"
                  class="form-control"
                  formControlName="num_celularEditar"
                  
                />
              </div>
              <!-- validacion form celular -->
              <div *ngIf="CelularEditar?.errors && CelularEditar?.touched">
                <p *ngIf="CelularEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="CelularEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 20 caracteres
                </p>
              </div>
              <!-- input contiene idResidencia para poder modificarla -->
              <input type="hidden" formControlName="idResidenciaEditar" >
              <!-- form direccion -->
              <div class="mb-3">
                <label class="form-label" for="direccionResidencia"
                  >Dirección:</label
                >
                <input
                  type="text"
                  id="direccionResidencia"
                  class="form-control"
                  formControlName="direccionEditar"
                  
                />
              </div>
              <!-- Validacion form direccion -->
              <div *ngIf="DireccionEditar?.errors && DireccionEditar?.touched">
                <p *ngIf="DireccionEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="DireccionEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas 50 caracteres
                </p>
              </div>
              <!-- form Localidad -->
              <div class="mb-3">
                <label class="form-label" for="localidadResidencia"
                  >Localidad:</label
                >
                <input
                  type="text"
                  id="localidadResidencia"
                  class="form-control"
                  formControlName="localidadEditar"
                  
                />
              </div>
              <!-- Validacion form localidad -->
              <div *ngIf="LocalidadEditar?.errors && LocalidadEditar?.touched">
                <p *ngIf="LocalidadEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="LocalidadEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 50 caracteres
                </p>
              </div>
              <!-- form imagen de provincia -->
              <div class="mb-3">
                <label class="form-label" for="provinciaResidencia"
                  >Provincia:</label
                >
                <input
                  type="text"
                  id="provinciaResidencia"
                  class="form-control"
                  formControlName="provinciaEditar"
                  
                />
              </div>
              <!-- validacion form provincia -->
              <div *ngIf="ProvinciaEditar?.errors && ProvinciaEditar?.touched">
                <p *ngIf="ProvinciaEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="ProvinciaEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form pais -->
              <div class="mb-3">
                <label class="form-label" for="paisResidencia">Pais:</label>
                <input
                  type="text"
                  id="paisResidencia"
                  class="form-control"
                  formControlName="paisEditar"
                  
                />
              </div>
              <!-- validacion form pais -->
              <div *ngIf="PaisEditar?.errors && PaisEditar?.touched">
                <p *ngIf="PaisEditar?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="PaisEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form nacionalidad -->
              <div class="mb-3">
                <label class="form-label" for="nacionalidadResidencia"
                  >Nacionalidad:</label
                >
                <input
                  type="text"
                  id="nacionalidadResidencia"
                  class="form-control"
                  formControlName="nacionalidadEditar"
                  
                />
              </div>
              <!-- validacion form nacionalidad -->
              <div
                *ngIf="
                  NacionalidadEditar?.errors && NacionalidadEditar?.touched
                "
              >
                <p
                  *ngIf="NacionalidadEditar?.hasError('required')"
                  class="error"
                >
                  El campo es obligatorio
                </p>
                <p *ngIf="NacionalidadEditar?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 20 caracteres
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modificar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
