
<section class="border rounded pb-3">
  <img
    src="assets/img/2pers.png"
    alt="imagen_de_ideas"
    class="w-100 img-fluid"
  />
  <div class="w-25 insertar-arriba">
    <img
      [src]="cabecera.imagen_perfil"
      alt="foto-de-perfil"
      class="w-100 rounded-circle img-fluid"
    />
  </div>
  <div class="row container">
    <div class="col-sm-9 col-lg-8">
      <h2>{{cabecera.nombrePersona+" "+cabecera.apellidoPersona}}</h2>
      <p>{{cabecera.experiencia[0].puesto}}</p>
      <p>{{cabecera.residencia.localidad+" - "+cabecera.residencia.provincia+"  -"+ "(" + cabecera.residencia.pais+")"}} <a href="#">más información</a></p>
    </div>
    <div class="col-sm-2 col-lg-2">
      <!-- abrir ventana modal para modificar datos de la persona -->
      <button
        class="btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modificarPersona"
      >
        <i class="fas fa-pen"></i>
      </button>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modificarPersona"
      tabindex="-1"
      aria-labelledby="persona"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="persona">Editar datos personales:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form">
              <div class="mb-3">
                <label class="form-label" for="nombrePersona">Nombre:</label>
                <input
                  type="text"
                  id="nombrePersona"
                  class="form-control"
                  formControlName="nombre"
                  [ngModel]="cabecera.nombrePersona"                />
              </div>
              <!-- Validacion form Nombre -->
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Nombre?.errors?.maxlength" class="error">
                  El campo no debe tener mas 50 caracteres
                </p>
              </div>
              <div class="mb-3">
                <label class="form-label" for="apellidoPersona"
                  >Apellido:</label
                >
                <input
                  type="text"
                  id="apellidoPersona"
                  class="form-control"
                  formControlName="apellido"
                  [ngModel]="cabecera.apellidoPersona"
                />
              </div>
              <!-- Validacion form apellido -->
              <div *ngIf="Apellido?.errors && Apellido?.touched">
                <p *ngIf="Apellido?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Apellido?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 50 caracteres
                </p>
              </div>
              <!-- form imagen de perfil -->
              <div class="mb-3">
                <label class="form-label" for="perfilPersona"
                  >Imagen de perfil:</label
                >
                <input
                  type="text"
                  id="perfilPersona"
                  class="form-control"
                  formControlName="imagen_perfil"
                  [ngModel]="cabecera.imagen_perfil"
                />
              </div>
              <!-- validacion form imagen de perfil -->
              <div *ngIf="Perfil?.errors && Perfil?.touched">
                <p *ngIf="Perfil?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Perfil?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form url Linkedin -->
              <div class="mb-3">
                <label class="form-label" for="linkedinPersona"
                  >Url de perfil Linkedin:</label
                >
                <input
                  type="text"
                  id="linkedinPersona"
                  class="form-control"
                  formControlName="url_linkedin"
                  [ngModel]="cabecera.url_linkedin"
                />
              </div>
              <!-- validacion form url de linkedin -->
              <div *ngIf="Url?.errors && Url?.touched">
                <p *ngIf="Url?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Url?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form celular -->
              <div class="mb-3">
                <label class="form-label" for="celularPersona"
                  >Numero de celular:</label
                >
                <input
                  type="number"
                  id="celularPersona"
                  class="form-control"
                  formControlName="num_celular"
                  [ngModel]="cabecera.num_celular"
                />
              </div>
              <!-- validacion form celular -->
              <div *ngIf="Celular?.errors && Celular?.touched">
                <p *ngIf="Celular?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Celular?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 20 caracteres
                </p>
              </div>
              <h2>Editar datos de Residencia: </h2>
              <!-- form direccion -->
              <div class="mb-3">
                <label class="form-label" for="direccionResidencia"
                  >Dirección:</label
                >
                <input
                  type="text"
                  id="direccionResidencia"
                  class="form-control"
                  formControlName="direccion"
                  [ngModel]="cabecera.residencia.direccion"
                />
              </div>
              <!-- Validacion form direccion -->
              <div *ngIf="Direccion?.errors && Direccion?.touched">
                <p *ngIf="Direccion?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Direccion?.errors?.maxlength" class="error">
                  El campo no debe tener mas 50 caracteres
                </p>
              </div>
              <!-- form Localidad -->
              <div class="mb-3">
                <label class="form-label" for="localidadResidencia"
                  >Localidad:</label
                >
                <input
                  type="text"
                  id="localidadResidencia"
                  class="form-control"
                  formControlName="localidad"
                  [ngModel]="cabecera.residencia.localidad"
                />
              </div>
              <!-- Validacion form localidad -->
              <div *ngIf="Localidad?.errors && Localidad?.touched">
                <p *ngIf="Localidad?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Localidad?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 50 caracteres
                </p>
              </div>
              <!-- form imagen de provincia -->
              <div class="mb-3">
                <label class="form-label" for="provinciaResidencia"
                  >Provincia:</label
                >
                <input
                  type="text"
                  id="provinciaResidencia"
                  class="form-control"
                  formControlName="provincia"
                  [ngModel]="cabecera.residencia.provincia"
                />
              </div>
              <!-- validacion form provincia -->
              <div *ngIf="Provincia?.errors && Provincia?.touched">
                <p *ngIf="Provincia?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Provincia?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form pais -->
              <div class="mb-3">
                <label class="form-label" for="paisResidencia"
                  >Pais:</label
                >
                <input
                  type="text"
                  id="paisResidencia"
                  class="form-control"
                  formControlName="pais"
                  [ngModel]="cabecera.residencia.pais"
                />
              </div>
              <!-- validacion form pais -->
              <div *ngIf="Pais?.errors && Pais?.touched">
                <p *ngIf="Pais?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Pais?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 100 caracteres
                </p>
              </div>
              <!-- form nacionalidad -->
              <div class="mb-3">
                <label class="form-label" for="nacionalidadResidencia"
                  >Nacionalidad:</label
                >
                <input
                  type="text"
                  id="nacionalidadResidencia"
                  class="form-control"
                  formControlName="nacionalidad"
                  [ngModel]="cabecera.residencia.nacionalidad"
                />
              </div>
              <!-- validacion form nacionalidad -->
              <div *ngIf="Nacionalidad?.errors && Nacionalidad?.touched">
                <p *ngIf="Nacionalidad?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Nacionalidad?.errors?.maxlength" class="error">
                  El campo no debe tener mas de 20 caracteres
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-2">
        <button class="btn btn-primary">Tengo interes en</button>
      </div>
      <div class="col-sm-12 col-lg-2">
        <button class="btn">Tengo interes en</button>
      </div>
      <div class="col-sm-12 col-lg-2">
        <button class="btn">Mas...</button>
      </div>
    </div>
  </div>
</section>
