<section class="border rounded pb-3">
    <img
      src="assets/img/2pers.png"
      alt="imagen_de_ideas"
      class="w-100 img-fluid"
    />
    <div class="w-25 insertar-arriba">
      <img
        src="assets/img/fotoperfil.png"
        alt="foto-de-perfil"
        class="w-100 rounded-circle img-fluid"
      />
    </div>
    <div class="row container">
      <div class="col-sm-12 col-lg-8" >
        <h2 >{{cabecera.Persona[0].nombres}}</h2>
        <p>{{cabecera.Persona[0].ocupacion}}</p>
        <p>Tucumán (Argentina) <a href="#">más información</a></p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-2">
          <button class="btn btn-primary">Tengo interes en</button>
        </div>
        <div class="col-sm-12 col-lg-2">
          <button class="btn">Tengo interes en</button>
        </div>
        <div class="col-sm-12 col-lg-2">
          <button class="btn">Mas...</button>
        </div>
      </div>
    </div>
  </section>
