<section class="border rounded my-3 p-2">
    <div class="d-flex justify-content-between">
      <h2>Hards skills and soft skills</h2>
      <button class="btn">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="container my-4">
      <div class="d-flex justify-content-between">
        <p class="text-center leads"><em>Resolucion de Problemas</em></p>
        <div class="d-flex align-self-start">
          <button class="btn pe-0">
            <i class="fas fa-trash-alt me-1"></i>
          </button>
          <button class="btn">
            <i class="fas fa-pen"></i>
          </button>
        </div>
      </div>
      <div>
        <div class="progress mb-3">
          <div
            class="progress-bar w-75"
            role="progressbar"
            aria-valuemax="100"
            aria-valuemin="0"
            aria-valuenow="75"
          ></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <p class="text-center leads"><em>Desarrollo web</em></p>
        <div class="d-flex align-self-start">
          <button class="btn pe-0">
            <i class="fas fa-trash-alt me-1"></i>
          </button>
          <button class="btn">
            <i class="fas fa-pen"></i>
          </button>
        </div>
      </div>
      <div class="progress">
        <div
          class="progress-bar w-25"
          role="progressbar"
          aria-valuemax="100"
          aria-valuemin="0"
          aria-valuenow="25"
        ></div>
      </div>
    </div>
  </section>
