<section class="border rounded my-3 p-2">
  <div class="d-flex justify-content-between">
    <h2>Hards skills and soft skills</h2>
    <!-- Button trigger modal -->
    <button
      class="btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#agregarHabilidad"
    >
      <i class="fas fa-plus"></i>
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="agregarHabilidad"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Agregar Skills</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="enviar($event)">
              <!-- form nombre -->
              <div class="mb-3">
                <label for="nombreSkills" class="label-control"
                  >Nombre de Skills que desea agregar:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreSkills"
                  formControlName="nombre"
                />
              </div>
              <!-- validacion form nombre -->
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">
                  El campo es requerido
                </p>
                <p *ngIf="Nombre?.errors?.maxlength" class="error">
                  El campo de contener menos de 50 caracteres
                </p>
              </div>
              <!-- form nivel habilidad -->
              <div class="mb-3">
                <label for="nivelSkills" class="label-control"
                  >Seleccione su nivel de skills</label
                >
                <select
                  class="form-select"
                  formControlName="nivel"
                  id="nivelSkills"
                >
                  <option [ngValue]="25" selected>25%</option>
                  <option [ngValue]="50">50%</option>
                  <option [ngValue]>75%</option>
                  <option [ngValue]="100">100%</option>
                </select>
              </div>
              <!-- validacion forn nivel -->
              <div *ngIf="Nivel?.errors && Nivel?.touched">
                <p *ngIf="Nivel?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Guardar Skills
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-4" *ngFor="let cabe of cabecera">
    <div class="d-flex justify-content-between">
      <p class="text-center leads"><em>{{cabe.nombre}}</em></p>
      <div class="d-flex align-self-start">
        <button class="btn pe-0">
          <i class="fas fa-trash-alt me-1"></i>
        </button>
        <!-- boton que abre la ventana modal -->
        <button
          class="btn"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modificarAptitudes"
        >
          <i class="fas fa-pen"></i>
        </button>
        <!-- Modal -->
      <div
      class="modal fade"
      id="modificarAptitudes"
      tabindex="-1"
      aria-labelledby="aptitudes"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="aptitudes">Editar Skill:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="enviar($event)">
              <!-- form nombre -->
              <div class="mb-3">
                <label for="nombreSkills" class="label-control"
                  >Nombre de Skills que desea agregar:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreSkills"
                  formControlName="nombre"
                  [ngModel]="cabe.nombre"
                />
              </div>
              <!-- validacion form nombre -->
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">
                  El campo es requerido
                </p>
                <p *ngIf="Nombre?.errors?.maxlength" class="error">
                  El campo de contener menos de 50 caracteres
                </p>
              </div>
              <!-- form nivel habilidad -->
              <div class="mb-3">
                <label for="nivelSkills" class="label-control"
                  >Seleccione su nivel de skills</label
                >
                <select
                  class="form-select"
                  formControlName="nivel"
                  id="nivelSkills"
                  [ngModel]="cabe.nivel"
                >
                  <option [value]="25" selected>25%</option>
                  <option [ngValue]="50">50%</option>
                  <option [ngValue]>75%</option>
                  <option [ngValue]="100">100%</option>
                </select>
              </div>
              <!-- validacion forn nivel -->
              <div *ngIf="Nivel?.errors && Nivel?.touched">
                <p *ngIf="Nivel?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Guardar Skills
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <div>
      <div class="progress mb-3">
        <div
          class="progress-bar w-75"
          role="progressbar"
          aria-valuemax="100"
          aria-valuemin="0"
          [attr.aria-valuenow]="cabe.nivel"
        ></div>
      </div>
    </div>
  </div>
</section>
