<section class="border rounded my-3 p-2">
  <div class="d-flex justify-content-between">
    <h2>Experiencia</h2>
    <!-- Button trigger modal -->
    <button
      class="btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#agregarExperiencia"
    >
      <i class="fas fa-plus"></i>
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="agregarExperiencia"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
              Nueva Experiencia Laboral
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="enviarNuevaExperiencia($event)" *ngIf="cabecera">
              <!-- form nombre empresa -->
              <div class="mb-3">
                <label class="form-label" for="nombreEmpresa"
                  >Nombre empresa:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreEmpresa"
                  formControlName="nombre"
                />
              </div>
              <!-- validacion nombre empresa -->
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">
                  El nombre de la empresa es requerido
                </p>
                <p *ngIf="Nombre?.errors?.maxlength" class="error">
                  Debe contener menos de 50 caracteres
                </p>
              </div>
              <!-- form Puesto -->
              <div class="mb-3">
                <label class="form-label" for="puestoEmpresa"
                  >Puesto que ocupó:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="puestoEmpresa"
                  formControlName="puesto"
                />
              </div>
              <!-- Validacion Puesto -->
              <div *ngIf="Puesto?.errors && Puesto?.touched">
                <p *ngIf="Puesto?.hasError('required')" class="error">
                  El campo es requerido
                </p>
                <p *ngIf="Puesto?.errors?.maxlength" class="error">
                  Debe contener menos de 20 caracteres
                </p>
              </div>
              <!-- FOrm descripcion -->
              <div class="mb-3">
                <label class="form-label" for="descripcionEmpresa">Descripcion de las funciones de desempeño en la empresa:</label>
                <input type="text" class="form-control" id="descripcionEmpresa" formControlName="descripcion">
              </div>
              <!-- validacion Descripcion -->
              <div *ngIf="Descripcion?.errors && Descripcion.touched">
                <p *ngIf="Descripcion?.hasError('required')" class="error">El campo es obligatorio</p>
                <p *ngIf="Descripcion?.errors?.maxlength" class="error">El campo no puede superar los 300 caracteres</p>
              </div>
              <!-- form Logo -->
              <div class="mb-3">
                <label class="form-label" for="logoEmpresa"
                  >URL logo de la empresa:</label
                >
                <input
                  type="url"
                  class="form-control"
                  id="logoEmpresa"
                  formControlName="logo"
                />
              </div>
              <!-- validacion Logo -->
              <div *ngIf="Logo?.errors && Logo?.touched">
                <p *ngIf="Logo?.errors?.maxlength" class="error">
                  Debe contener menos de 50 caracteres
                </p>
              </div>
              <!-- form Fecha de inicio -->
              <div class="mb-3">
                <label class="form-label" for="inicioEmpresa"
                  >Fecha de inicio:</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="inicioEmpresa"
                  formControlName="fecha_inicio"
                />
              </div>
              <!-- Validacion Inicio -->
              <div *ngIf="Inicio?.errors && Inicio?.touched">
                <p *ngIf="Inicio?.status === 'INVALID'" class="error">
                  El campo es requerido
                </p>
              </div>
              <!-- form fecha de finalizacion -->
              <div class="mb-3">
                <label class="form-label" for="finEmpresa"
                  >Fecha de finalizacion:</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="finEmpresa"
                  formControlName="fecha_fin"
                />
              </div>
              <!-- Validacion form fecha de finalizacion -->
              <div *ngIf="Fin?.errors && Fin?.touched">
                <p *ngIf="Fin?.status === 'INVALID'" class="error">
                  El campo es requerido
                </p>
              </div>
              <!-- form tiempo de trabajo -->
              <div class="mb-3">
                <label class="form-label" for="tiempoEmpresa"
                  >Tiempo trabajado:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tiempoEmpresa"
                  formControlName="tiempo_trab"
                />
              </div>
              <!-- validacion form tiempo_trab -->
              <div *ngIf="Total?.errors && Total?.touched">
                <p *ngIf="Total?.hasError('required')" class="error">
                  El campo es obligatorio
                </p>
                <p *ngIf="Total?.errors?.maxlength" class="error">
                  El campo debe tener menos de 50 caracteres
                </p>
              </div>
              <div formGroupName="persona">
                <input type="hidden" id="idpersona" formControlName="idpersona" [(ngModel)]="cabecera.idPersona">
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex container justify-content-between my-5" *ngFor="let cabe of experiencia">
    <div class="d-flex">
      <img
        *ngIf="cabe.logo == ''"
        src="assets/img/logo-rolling.png"
        alt="logo-rolling-code-school"
        class="w-25 me-3 img-fluid mantener-imagen"
      />
      <img
        *ngIf="cabe.logo != ''"
        [src]="cabe.logo"
        alt="logo-rolling-code-school"
        class="w-25 me-3 img-fluid mantener-imagen"
      />
      <div>
        <h3>{{cabe.nombre}}</h3>
        <h6>{{cabe.puesto}}</h6>
        <p class="leads">Duracion: {{cabe.tiempo_trab}}</p>
        <p>Desde: {{cabe.fecha_inicio | date}}</p>
        <p>Hasta: {{cabe.fecha_fin | date}}</p>
      </div>
    </div>
    <div class="d-flex align-self-start">
      <button class="btn pe-0"
      (click)="eliminar(cabe.idexp_laboral)">
        <i class="fas fa-trash-alt me-1"></i>
      </button>
       <!-- boton que abre la ventana modal para modificar la experiencia laboral-->
      <button
        class="btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#experienciaid"
        (click)="traerDatos(cabe)"
      >
        <i class="fas fa-pen"></i>
      </button>
      <!-- modal para modificar la experiencia laboral -->
      <div
      
        class="modal fade"
        id="experienciaid"
        tabindex="-1"
        aria-labelledby="experiencia"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="experiencia">Modificar experiencia laboral</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formEditar" (ngSubmit)="enviarFormEditar($event)">
                <input type="hidden" formControlName="idExperienciaEditar" id="experiencia id" >
                <!-- form nombre empresa -->
                <div class="mb-3">
                  <label class="form-label" for="nombreEmpresaEditar"
                    >Nombre empresa:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nombreEmpresaEditar"
                    formControlName="nombreEditar"
                    
                  />
                </div>
                <!-- validacion nombre empresa -->
                <div *ngIf="NombreEditar?.errors && NombreEditar?.touched">
                  <p *ngIf="NombreEditar?.hasError('required')" class="error">
                    El nombre de la empresa es requerido
                  </p>
                  <p *ngIf="NombreEditar?.errors?.maxlength" class="error">
                    Debe contener menos de 50 caracteres
                  </p>
                </div>
                <!-- form Puesto -->
                <div class="mb-3">
                  <label class="form-label" for="puestoEmpresaEditar"
                    >Puesto que ocupó:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="puestoEmpresaEditar"
                    formControlName="puestoEditar"
                  />
                </div>
                <!-- Validacion Puesto -->
                <div *ngIf="PuestoEditar?.errors && PuestoEditar?.touched">
                  <p *ngIf="PuestoEditar?.hasError('required')" class="error">
                    El campo es requerido
                  </p>
                  <p *ngIf="PuestoEditar?.errors?.maxlength" class="error">
                    Debe contener menos de 20 caracteres
                  </p>
                </div>
                <!-- Validacion Puesto -->
              <div *ngIf="Puesto?.errors && Puesto?.touched">
                <p *ngIf="Puesto?.hasError('required')" class="error">
                  El campo es requerido
                </p>
                <p *ngIf="Puesto?.errors?.maxlength" class="error">
                  Debe contener menos de 20 caracteres
                </p>
              </div>
              <!-- FOrm descripcion -->
              <div class="mb-3">
                <label class="form-label" for="descripcionEmpresaEditar">Descripcion de las funciones de desempeño en la empresa:</label>
                <input type="text" class="form-control" id="descripcionEmpresaEditar" formControlName="descripcionEditar">
              </div>
              <!-- validacion Descripcion -->
              <div *ngIf="DescripcionEditar?.errors && DescripcionEditar?.touched">
                <p *ngIf="DescripcionEditar?.hasError('required')" class="error">El campo es obligatorio</p>
                <p *ngIf="DescripcionEditar?.errors?.maxlength" class="error">El campo no puede superar los 300 caracteres</p>
              </div>
                <!-- form Logo -->
                <div class="mb-3">
                  <label class="form-label" for="logoEmpresaEditar"
                    >URL logo de la empresa:</label
                  >
                  <input
                    type="url"
                    class="form-control"
                    id="logoEmpresaEditar"
                    formControlName="logoEditar"

                  />
                </div>
                <!-- validacion Logo -->
                <div *ngIf="LogoEditar?.errors && LogoEditar?.touched">
                  <p *ngIf="LogoEditar?.errors?.maxlength" class="error">
                    Debe contener menos de 50 caracteres
                  </p>
                </div>
                <!-- form Fecha de inicio -->
                <div class="mb-3">
                  <label class="form-label" for="inicioEmpresaEditar"
                    >Fecha de inicio:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="inicioEmpresaEditar"
                    formControlName="fecha_inicioEditar"
                  />
                </div>
                <!-- Validacion Inicio -->
                <div *ngIf="InicioEditar?.errors && InicioEditar?.touched">
                  <p *ngIf="InicioEditar?.status === 'INVALID'" class="error">
                    El campo es requerido
                  </p>
                </div>
                <!-- form fecha de finalizacion -->
                <div class="mb-3">
                  <label class="form-label" for="finEmpresaEditar"
                    >Fecha de finalizacion:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="finEmpresaEditar"
                    formControlName="fecha_finEditar"
                  />
                </div>
                <!-- Validacion form fecha de finalizacion -->
                <div *ngIf="FinEditar?.errors && FinEditar?.touched">
                  <p *ngIf="FinEditar?.status === 'INVALID'" class="error">
                    El campo es requerido
                  </p>
                </div>
                <!-- form tiempo de trabajo -->
                <div class="mb-3">
                  <label class="form-label" for="tiempoEmpresaEditar"
                    >Tiempo trabajado:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="tiempoEmpresaEditar"
                    formControlName="tiempo_trabEditar"
                  />
                </div>
                <!-- validacion form tiempo_trab -->
                <div *ngIf="TotalEditar?.errors && TotalEditar?.touched">
                  <p *ngIf="TotalEditar?.hasError('required')" class="error">
                    El campo es obligatorio
                  </p>
                  <p *ngIf="TotalEditar?.errors?.maxlength" class="error">
                    El campo debe tener menos de 50 caracteres
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
