<section class="border rounded my-3 p-2">
    <div class="d-flex justify-content-between">
      <h2>Experiencia</h2>
      <button class="btn">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="d-flex container justify-content-between mt-3">
      <div class="d-flex">
        <img
          src="assets/img/logo-rolling.png"
          alt="logo-rolling-code-school"
          class="w-25 me-3 img-fluid mantener-imagen"
        />
        <div>
          <h3>Rolling Code School</h3>
          <h6>Proyecto final (diario digital)</h6>
          <p class="leads">Full Stack</p>
          <ul>
            <li><em>Arquitectura MERN</em></li>
          </ul>
        </div>
      </div>
      <div class="d-flex align-self-start">
        <button class="btn pe-0">
          <i class="fas fa-trash-alt me-1"></i>
        </button>
        <button class="btn">
          <i class="fas fa-pen"></i>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3 ps-0">
      <h2>Educación</h2>
      <button class="btn">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="d-flex container justify-content-between mt-3">
      <div class="d-flex">
        <img
          src="assets/img/logo-utn.png"
          alt="logo-rolling-code-school"
          class="w-25 me-3 img-fluid mantener-imagen"
        />
        <div>
          <h3>Universidad Tecnologica Nacional</h3>
          <h6>Facultad Regional Tucumán</h6>
          <p class="leads">2018 - en curso</p>
        </div>
      </div>
      <div class="d-flex align-self-start">
        <button class="btn pe-0">
          <i class="fas fa-trash-alt me-1"></i>
        </button>
        <button class="btn">
          <i class="fas fa-pen"></i>
        </button>
      </div>
    </div>
  </section>
